[mysqld]
# 基础配置
character-set-server = utf8mb4
collation-server = utf8mb4_unicode_ci
default-time-zone = '+08:00'

# 连接数
max_connections = 500

# InnoDB配置
innodb_buffer_pool_size = 256M
innodb_redo_log_capacity = 128M
innodb_flush_log_at_trx_commit = 2
datadir=/var/lib/mysql
socket=/var/run/mysqld/mysqld.sock
secure-file-priv=/var/lib/mysql-files
user=mysql
pid-file=/var/run/mysqld/mysqld.pid


# 日志
slow_query_log = 1
slow_query_log_file = /var/log/mysql/slow.log
long_query_time = 2

# 二进制日志（用于主从复制）
# log-bin = mysql-bin
# binlog-format = ROW
# server-id = 1

[client]
default-character-set = utf8mb4
socket=/var/run/mysqld/mysqld.sock
