<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.opensabre.admin.dao.mapper.HotelProductMapper">

    <!-- 查询某酒店的上架商品列表 -->
    <select id="selectByHotelId" resultType="com.opensabre.admin.dao.entity.po.HotelProduct">
        SELECT * FROM hotel_product
        WHERE hotel_id = #{hotelId} AND status = 1
        ORDER BY sort ASC
    </select>

</mapper>
